/*Content First - Mobile First*/
    /*General Rules*/
        *{
            box-sizing: border-box;
            font-family: 'Raleway', 'segoe ui', 'calibri', sans-serif;
        }
        body,
        h1,
        h2,
        h3,
        header p,
        .menu{
            margin: 0;
        }
        .logo{
            font-weight: bold;
            text-transform: uppercase;
        }
        .button{
            margin: .5rem;
            border: .1rem solid #eee;
            color:#eee;
            background-color: transparent;
        }
        .button:hover{
            color: #448;
            background-color: #eee;
        }
    /*Navigation*/
        nav{
            position: sticky;
            top:0;
            z-index: 2;
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
            background: 
                #448 
                linear-gradient(#36c, #448);
        }
        nav a{
            display: block;
            padding: .5rem;
            color: #eee;
            text-decoration: none;
        }
        .menu{
            width: 100%;
            max-height: 0;
            padding: 0;
            list-style: none;
            overflow: hidden;
            transition: all .5s ease;
        }
        .menu a:hover{
            background-color: #3338; /*min:00; max:FF*/
        }
        .menu.active{
            max-height: 600px;
        }
    /*Header*/
        header{
            display: grid;
            justify-content: center;
            align-content: center;
            height: 100vh; /*Alto viewport*/
            max-height: 600px;
            color: #eee;
            background-color: #333;
            text-align: center;
            font-size: calc(2vw + .8rem);
            text-shadow: 0 0 .5rem #eee;
        }
    /*Main content*/
        main, 
        footer{
            padding: 1rem;
        }
        section{
            margin: 1rem auto;
            border-radius: .25rem;
            padding: 1rem;
            box-shadow: 0 0 .5rem #333;
        }
        section h2{
            border-bottom: .1rem solid #999;
        }
        .commands{
            margin: 1rem;
            margin-left: 2.5rem;
            border-left: .25rem solid #448;
            padding: 1rem;
            background-color: #eee;
            line-height: 1.5rem;
            list-style:none;
        }
    /*Footer*/
        #footer{
            position: relative;
            padding: 1rem;
        }
        .bg-content{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border: none;
            z-index: -1;
            opacity: .9;
        }
        .bg-content.active{
            position: fixed;
            z-index: 2;
        }
        #footer .top{
            background-color: #333;
            position: absolute;
            top: 0;
            right: 0;
            z-index: 1;
        }
        #footer .top:hover{
            border-color: #999;
            background-color: #999;
        }
        #footer .top.active{
            position: fixed;
            z-index: 3;
        }
    /*Social Media*/
        .social{
            display: flex;
            justify-content: center;
        }
        .social a{
            margin: .25rem .5rem;
            border-radius: .5rem;
            padding: .5rem;
            color: #333;
            text-decoration: none;
            transition: all .5s ease;
        }
        .social a:hover{
            color:#eee;
            background-color: #333;
            transform: scale(1.2);
        }
    /*Colaborators*/
        table{
            margin: 1rem auto;
            border-collapse: collapse;
            color:#eee;
            background: #eee linear-gradient(#36c3, #4483);
        }
        caption{
            border-radius: .25rem .25rem 0 0 ;
            background: linear-gradient(#36c,#448);
            padding: .5rem;
            font: bold 1.2rem 'Raleway', 'segoe ui', 'calibri', sans-serif;
        }
        th{ background-color: #448 }
        td{
            color:#333;
            text-shadow: -.1rem .1rem .2rem #eee;
            padding:.25rem .5rem;
        }
        tr:nth-child(odd){ background-color: #66c2 }
        tr:nth-child(even){ background-color: #4482 }
/*Small Devices - Smartphones*/
    @media screen and (min-width: 576px){
    /*Main Content*/
        Section{
            max-width: 540px;
        }
    }
/*Medium Devices - Tablets*/
    @media screen and (min-width: 768px){
    /*Navigation*/
        nav .button{
            display: none;
        }
        nav .menu{
            display: flex;
            width: auto;
            max-height: 600px;
        }
    /*Main Content*/
        Section{
            max-width: 720px;
        }
    }
/*Large Devices - Desktop*/
    @media screen and (min-width:992px){
    /*Main Content*/
        Section{
            max-width: 960px;
        }
    }
/*ExtraLarge - HD Desktop*/
    @media screen and (min-width:1200px){
    /*Navigation*/
        nav{
            justify-content: space-around;
        }
    }
